<div class="mdc-layout-grid mdc-toolbar-fixed-adjust max-width">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <md-input-container>
          <input mdInput [max]="maxDate" [mdDatepicker]="picker" [value]="calculationData.noSmokingSince" placeholder="Choose a date" (dateInput)="onInput($event)">
          <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
        </md-input-container>
        <md-datepicker #picker></md-datepicker>
        <md-slider tickInterval="2" (input)="onCiggCountChange($event)" min="1" max="60" step="1" [value]="calculationData.numberOfCigarettes"></md-slider>{{ calculationData.numberOfCigarettes }}
      </div>
    </div>
</div>
