<div class="mdc-layout-grid__inner" style="background: #bada55">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 settings-container">
        <md-input-container>
          <input mdInput [max]="maxDate" [mdDatepicker]="picker" placeholder="Choose a date" (dateInput)="onInput($event)">
          <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
        </md-input-container>
        <md-datepicker #picker></md-datepicker>
        <md-slider tickInterval="2" (input)="onCiggCountChange($event)" min="1" max="60" step="1" [value]="calculationData.numberOfCigarettes"></md-slider>{{ calculationData.numberOfCigarettes }}
      </div>
</div>