<header class="mdc-toolbar mdc-toolbar--fixed">
  <div class="mdc-toolbar__row">
    <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
      <span class="mdc-toolbar__title">IngenCigg.se</span>
    </section>
    <section class="mdc-toolbar__section mdc-toolbar__section--align-end">
      <a routerLink="/" class="mdc-toolbar__icon" >
        <md-icon>smoke_free</md-icon>
      </a>
      <a routerLink="/settings" class="mdc-toolbar__icon">
        <md-icon>settings</md-icon>
      </a>
    </section>
  </div>
</header>

<div class="mdc-layout-grid mdc-toolbar-fixed-adjust max-width">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <router-outlet></router-outlet>  
      </div>
    </div>
</div>
