<header class="mdc-toolbar mdc-toolbar--fixed">
  <div class="mdc-toolbar__row">
    <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
      <span class="mdc-toolbar__title">IngenCigg.se</span>
    </section>
    <section class="mdc-toolbar__section mdc-toolbar__section--align-end">
      <a routerLink="/" class="mdc-toolbar__icon" >
        <md-icon>smoke_free</md-icon>
      </a>
      <a routerLink="/settings" class="mdc-toolbar__icon">
        <md-icon>settings</md-icon>
      </a>
    </section>
  </div>
</header>

<router-outlet></router-outlet>

