@import 'variables';

.circle {
  align-items: center;
  background-color: $light-background;
  border-radius: 50%;
  color: $dark-text;
  display: inline-flex;
  justify-content: center;
  text-transform: uppercase;
  box-shadow: 0.5vw 0.5vw 1vw $dark-background;

  $size: 20;
  $circle-size: $size * 1vw;

  font-size: ($circle-size / 2);
  height: $circle-size;
  width: $circle-size;

  >.material-icons {
    font-size: ($circle-size / 2);
  }

  >.mat-icon {
    height: ($circle-size / 2);
    width: ($circle-size / 2);
  }
}

.circle + .circle {
  margin-left: 2vw;
}